{% load static %}
<html><body>
<div class="navbar">
       <div class="dropdown">
  <a href="{% url 'about' %}>Go to home Page</a>
         <button class="dropbtn">Sem-I</button>
          <div class="dropdown-content">
             <a href="MCA 101.html">MCA 101</a>
             <a href="MCA 102.html">MCA 102</a>
             <a href="MCA 103.html">MCA 103</a>
             <a href="MCA 104.html">MCA 104</a>
             <a href="MCA 105.html">MCA 105</a>
             <a href="MCA 106.html">MCA 106</a>
             <a href="MCA 107.html">MCA 107</a>
             <a href="MCA 108.html">MCA 108</a>
    
</div></div>
    <div class="dropdown">
       <button class="dropbtn">Sem-II</button>
         <div class="dropdown-content">
             <a href="MCA 201.html">MCA 201</a>
             <a href="MCA 202.html">MCA 202</a>
             <a href="MCA 203.html">MCA 203</a>
             <a href="MCA 204.html">MCA 204</a>
             <a href="MCA 205.html">MCA 205</a>
             <a href="MCA 206.html">MCA 206</a>
             <a href="MCA 207.html">MCA 207</a>
             <a href="MCA 208.html">MCA 208</a>
   </div>
   </div>
    <div class="dropdown">
         <button class="dropbtn">Sem-III</button>
       <div class="dropdown-content">
             <a href="MCA 301.html">MCA 301</a>
             <a href="MCA 302.html">MCA 302</a>
             <a href="MCA 303.html">MCA 303</a>
             <a href="MCA 304.html">MCA 304</a>
             <a href="MCA 305.html">MCA 305</a>
             <a href="MCA 306.html">MCA 306</a>
             <a href="MCA 307.html">MCA 307</a>
             <a href="MCA 308.html">MCA 308</a>
             <a href="MCA 309.html">MCA 309</a>
   </div>
   </div>
    <div class="dropdown">
       <button class="dropbtn">Sem-IV</button>
         <div class="dropdown-content">
             <a href="MCA 401.html">MCA 401</a>
             <a href="MCA 402.html">MCA 402</a>
             <a href="MCA 403.html">MCA 403</a>
             <a href="MCA 404.html">MCA 404</a>
   </div>
   </div>
    <div class="dropdown">
       <button class="dropbtn">Exit</button>
         <div class="dropdown-content">
             <a href="exit.html">Exit</a>
    </div>
   </div>
</div></body>
</html>